.main-section {
  margin-left: 60px;
  margin-top: 15px;
  max-width: 100%;
  padding: 0px 20px;
  width:  100%;

  color: #e5e5e5e7;
  max-height: 100vh;
  scrollbar-width: thin ;
  overflow-y: auto;
}


::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 729px) {
  .main-section {
    margin-left: 0px;
  }
}