.main-text {
  opacity: .5;
  cursor: pointer; 
  font-size: 15px; 
}

.main-text.-select {
  color: #FFF;
  opacity: .8;
}

.main-text.-name {
  color: #FFF;
  opacity: .8;
  font-size: 18px;
  font-weight: 400;
}

.main-text img {
  opacity: 1
}

