.profile {
    display: flex;
    align-items: center;
}
.profile-image {
  width: 90px;
  height: 85px;
}

.profile span {
  opacity: .6;
  cursor: pointer;
}

.profile .name {
  color: #FFF;
  font-size: 21px;
  margin-bottom: 10px;
}

.profile .wrapper-profile {
  margin-left: 15px;
}
