.sidebar-mobile {
  width: 100%;

  position: absolute;
  color: #fff;
  bottom: 0;
  background: #040517;
  padding: 12px 40px;

  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  display: none;
}


.close-modal {
  cursor: pointer;
  margin: 20px;
  position: absolute;
  top: 0;
  opacity: 0.7;
  right: 0;
}

.close-modal:hover { 
  opacity: 1;
}


@media (max-width: 730px) {
  .sidebar-mobile {
    display: flex;
  }
}

@media (max-width: 330px) {
  .sidebar-mobile {
    padding: 12px 5px;
  }
}

@media (max-width: 240px) {
  .menu {
    margin-top: 10px;
    text-align: center;
  } 
}